<!-- admin-table.component.html
<ag-grid-angular
  class="ag-theme-alpine custom-ag-grid"
  style="width: 100%; height: 100%;"
  [rowData]="filteredData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [animateRows]="true"
  [rowHeight]="40"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular> -->
<ag-grid-angular
  class="ag-theme-alpine custom-ag-grid"
  style="width: 100%; height: 100%;"
  [rowData]="filteredData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [animateRows]="true"
  [rowHeight]="40"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>

<!-- View Details Popup -->
<app-admin-view-details
  *ngIf="selectedAdmin"
  [data]="selectedAdmin"
  (close)="closeDetails()"
></app-admin-view-details>

<!-- Action Popup -->
<app-admin-action
  *ngIf="selectedAction"
  [data]="selectedAction"
  (close)="closeAction()"
></app-admin-action>
