:host ::ng-deep .ag-theme-alpine {
  border: none !important;
  font-family: 'DM Sans', sans-serif;

  .ag-root-wrapper {
    border: none !important;
  }

  .ag-header {
    background-color: #f8f9fa !important;
    font-weight: 600;
    color: #5f6368 !important;
    border-bottom: 1px solid #e0e0e0 !important;
  }

  .ag-cell {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f1f1f1 !important;
  }

  .ag-row:hover {
    background-color: #fc757574  !important;
  }

  .ag-cell-actions {
    justify-content: center;
  }

  .avatar {
    width: 24px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 8px;
  }

  .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      stroke: #555;
      width: 18px;
      height: 18px;
    }

    &:hover svg {
      stroke: #1976d2;
    }
  }
}
