.profile-container {
      width: 330px;
      height: 100%;
      margin: 0;
      padding: 2rem;
      border-radius: 12px;
      border: 1px solid #e0e0e0;
      text-align: center;
      background-color: #fff;
      position: relative;
    }
    .profile-image {
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 3rem;
    }
    .info-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem 5rem;
      text-align: left;
      margin-left: 0;
    
      div {
        strong {
          display: block;
          font-size: 14px;
          font-weight: 500;
          color: #272A47;
        }
        div {
          font-size: 12px;
          color: #7D838B;
        }
      }
    }
    
    .action-section {
      margin-top: 2rem;
      padding-top: 1.5rem;
      border-top: 1px solid #e0e0e0;
    }
    
    .update-btn {
      background-color: #FFFFFF;
      color: rgba(69, 84, 110, 1);
      border: 2px solid rgba(69, 84, 110, 1);
      padding: 0.5rem 1.25rem;
      border-radius: 8px;
      font-size: 1.125rem;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
    
    .update-btn:hover {
      background-color: #FFFFFF;
      box-shadow: 0 6px 8px rgba(131, 132, 132, 0.2);
    }
    
    @media (max-width: 480px) {
      .info-grid {
        grid-template-columns: 1fr;
      }
    }